<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DictionarySyMapper">
	
	<sql id="dictionaryColumns">T_SY_DICTIONARY_ID,T_SY_DICTIONARY_TYPE,T_SY_IDENTIFY_CONTENT,T_SY_CONVERT_CONTENT,T_SY_BZ1,T_SY_BZ2</sql>

	<resultMap type="SyDictionary" id="dictionaryResultMap">
		<id column="T_SY_DICTIONARY_ID" property="tSyDictionaryId"/>
		<result column="T_SY_DICTIONARY_TYPE" property="tSyDictionaryType"/>
		<result column="T_SY_IDENTIFY_CONTENT" property="tSyIdentifyContent"/>
		<result column="T_SY_CONVERT_CONTENT" property="tSyConvertContent"/>
		<result column="T_SY_BZ1" property="tSyBz1"/>
		<result column="T_SY_BZ2" property="tSyBz2" />
	</resultMap>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into T_SY_DICTIONARY(
			T_SY_DICTIONARY_TYPE,	
			T_SY_IDENTIFY_CONTENT,	
			T_SY_CONVERT_CONTENT,	
			T_SY_BZ1,	
			T_SY_BZ2
		) values (
			#{T_SY_DICTIONARY_TYPE},	
			#{T_SY_IDENTIFY_CONTENT},	
			#{T_SY_CONVERT_CONTENT},	
			#{T_SY_BZ1},	
			#{T_SY_BZ2}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from T_SY_DICTIONARY
		where 
			T_SY_DICTIONARY_ID = #{T_SY_DICTIONARY_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  T_SY_DICTIONARY
			set 
				T_SY_DICTIONARY_ID = #{T_SY_DICTIONARY_ID},
				T_SY_DICTIONARY_TYPE = #{T_SY_DICTIONARY_TYPE},
				T_SY_IDENTIFY_CONTENT = #{T_SY_IDENTIFY_CONTENT},
				T_SY_CONVERT_CONTENT = #{T_SY_CONVERT_CONTENT},
				T_SY_BZ1 = #{T_SY_BZ1},
				T_SY_BZ2 = #{T_SY_BZ2},
			T_SY_DICTIONARY_ID = T_SY_DICTIONARY_ID
			where 
				T_SY_DICTIONARY_ID = #{T_SY_DICTIONARY_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			T_SY_DICTIONARY_ID,	
			T_SY_DICTIONARY_TYPE,	
			T_SY_IDENTIFY_CONTENT,	
			T_SY_CONVERT_CONTENT,	
			T_SY_BZ1,	
			T_SY_BZ2
		from 
			T_SY_DICTIONARY
		where 
			T_SY_DICTIONARY_ID = #{T_SY_DICTIONARY_ID}
	</select>
	
	<!-- 通过类型获取数据 -->
	<select id="findByType" parameterType="page" resultType="pd">
		select 
			T_SY_DICTIONARY_ID,	
			T_SY_DICTIONARY_TYPE,	
			T_SY_IDENTIFY_CONTENT,	
			T_SY_CONVERT_CONTENT,	
			T_SY_BZ1,	
			T_SY_BZ2
		from 
			T_SY_DICTIONARY
		where 
			T_SY_DICTIONARY_TYPE = 'LXFS' 
	</select>
	
	<!-- 通过广告类型获取数据 -->
	<select id="findByGgType" parameterType="page" resultType="pd">
		select 
			T_SY_DICTIONARY_ID,	
			T_SY_DICTIONARY_TYPE,	
			T_SY_IDENTIFY_CONTENT,	
			T_SY_CONVERT_CONTENT,	
			T_SY_BZ1,	
			T_SY_BZ2
		from 
			T_SY_DICTIONARY
		where 
			T_SY_DICTIONARY_TYPE = 'GGLX' 
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.T_SY_DICTIONARY_ID,	
				a.T_SY_DICTIONARY_TYPE,	
				a.T_SY_IDENTIFY_CONTENT,	
				a.T_SY_CONVERT_CONTENT,	
				a.T_SY_BZ1,	
				a.T_SY_BZ2
		from 
				T_SY_DICTIONARY a where 1=1 
				<if test="pd.dictionaryNAme != null and pd.dictionaryNAme != ''">
               		and a.T_SY_DICTIONARY_TYPE like CONCAT(CONCAT('%', #{pd.dictionaryNAme}),'%')  or a.T_SY_IDENTIFY_CONTENT like CONCAT(CONCAT('%', #{pd.dictionaryNAme}),'%')
            	</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.T_SY_DICTIONARY_ID,	
				a.T_SY_DICTIONARY_TYPE,	
				a.T_SY_IDENTIFY_CONTENT,	
				a.T_SY_CONVERT_CONTENT,	
				a.T_SY_BZ1,	
				a.T_SY_BZ2
		from 
				T_SY_DICTIONARY a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from T_SY_DICTIONARY
		where 
			T_SY_DICTIONARY_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>